<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="question">
      <h2 data-cy="questionDetailsHeading"><span jhiTranslate="jhipsterApp.question.detail.title">Question</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ question.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.question.content">Content</span></dt>
        <dd>
          <span>{{ question.content }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.question.exam">Exam</span></dt>
        <dd>
          <div *ngIf="question.exam">
            <a [routerLink]="['/exam', question.exam?.id, 'view']">{{ question.exam?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/question', question.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
